## **Python Bootcamp - Unit 5 Solutions**
---
**Author:** David Dobolyi

**Contents**
- [Exercise 1](#Exercise-1)
- [Exercise 2](#Exercise-2)
- [Exercise 3](#Exercise-3)
- [Exercise 4](#Exercise-4)
- [Exercise 5](#Exercise-5)
- [Exercise 6](#Exercise-6)
- [Exercise 7](#Exercise-7)
- [Exercise 8](#Exercise-8)
- [Exercise 9](#Exercise-9)

---
### Exercise 1

Create the following NumPy arrays and use the display function to show their contents:

1. **exVec1** containing the following numbers: 3, 10, -5, 4, 8
2. **exVec2** containing the following numbers: 5, -6, NA, 3, 11
3. **exVec3** containing a sequence from -5 to 5 by steps of 0.5 (e.g., -5.0, -4.5, -4.0, and so on to positive 5.0)

*Hint*: for creating the third array, see the NumPy [*arange*](https://numpy.org/doc/stable/reference/generated/numpy.arange.html) method.

In [1]:
import numpy as np

exVec1 = np.array([3, 10, -5, 4, 8])
exVec2 = np.array([5, -6, np.nan, 3, 11])
exVec3 = np.arange(-5, 5 + .5, .5)

display(exVec1, exVec2, exVec3) # check the results

array([ 3, 10, -5,  4,  8])

array([ 5., -6., nan,  3., 11.])

array([-5. , -4.5, -4. , -3.5, -3. , -2.5, -2. , -1.5, -1. , -0.5,  0. ,
        0.5,  1. ,  1.5,  2. ,  2.5,  3. ,  3.5,  4. ,  4.5,  5. ])

---
### Exercise 2

Add together exVec1 and exVec2 and store these in a new object called exVecResult using a single command. Show the result.

In [2]:
exVecResult = exVec1 + exVec2
exVecResult

array([ 8.,  4., nan,  7., 19.])

---
### Exercise 3

Use bracket notation to: 

1. return the 3rd value inside  exVec1
2. return all but the 2nd and 3rd values in exVec2

In [3]:
exVec1[2]

-5

In [4]:
np.delete(exVec2, [1, 2])

array([ 5.,  3., 11.])

---
### Exercise 4

Use functions and/or relational operators to:

1. show the length of each of the three arrays created above
2. find the sum of the exVec1
3. find the mean of the exVec2
4. calculate the mean of exVec2 again, but this time using algebra (e.g., by summing up and dividing)
5. show that the calculations in C and D are equivalent/identical

1. show the length of each of the three vectors created above

In [5]:
len(exVec1)

5

In [6]:
len(exVec2)

5

In [7]:
len(exVec3)

21

2. find the sum of the vector exVec1

In [8]:
sum(exVec1)

20

3. find the mean of the vector exVec2 using the mean function

In [9]:
np.nanmean(exVec2)

3.25

4. calculate the mean of exVec2 again, but this time using algebra (e.g., by summing up and dividing)

In [10]:
np.nansum(exVec2)/(exVec2.size - sum(np.isnan(exVec2)))

3.25

5. show that the calculations in C and D are equivalent/identical

In [11]:
np.nanmean(exVec2) == np.nansum(exVec2)/(exVec2.size - sum(np.isnan(exVec2)))

True

---
### Exercise 5

Read in the data file "ExerciseData1.txt" in Python-Bootcamp-Unit5-Data.zip (under the exercise-data folder) and store it in a pandas DataFrame called exDat1. To verify you imported the data correctly, show the following for exDat1:

- the head of the data (e.g., the first five rows)
- the shape of the data (i.e., the number of rows and columns)
- the data types for each column

*Hint*: the correct dimensions are six rows by five columns.

In [12]:
import pandas as pd

# note: change your working directory as needed (e.g., %cd ...) or adjust the path used in read_csv to point to the exercise data
%cd C:\WorkingDirectory

exDat1 = pd.read_csv('exercise-data/ExerciseData1.txt')

C:\WorkingDirectory

In [13]:
exDat1.head()

   EmployeeID FirstName   Age   PayType  NumChildren
0         101       Kim  24.0    Hourly            0
1         102       Ken  23.0  Salaried            2
2         103       Bob  54.0    Hourly            1
3         104      Bill   NaN    Hourly            0
4         105     Cindy  64.0  Salaried            3

In [14]:
exDat1.shape

(6, 5)

In [15]:
exDat1.dtypes

EmployeeID       int64
FirstName       object
Age            float64
PayType         object
NumChildren      int64
dtype: object

---
### Exercise 6

Read in the data file "ExerciseData2.txt" in Python-Bootcamp-Unit5-Data.zip (under the exercise-data folder) and store it in a pandas DataFrame called exDat2. To verify you imported the data correctly, show the following for exDat2:

- the head of the data (e.g., the first five rows)
- the shape of the data (i.e., the number of rows and columns)
- the data types for each column

*Hint*: make sure you have accounted for the correct separator in this data file.

In [16]:
exDat2 = pd.read_csv('exercise-data/ExerciseData2.txt', sep = '\t') # alternatively, use pd.read_table for a tab separator

In [17]:
exDat2.head()

   EmployeeID FirstName   Age   PayType  NumChildren
0         101       Kim  24.0    Hourly            0
1         102       Ken  23.0  Salaried            2
2         103       Bob  54.0    Hourly            1
3         104      Bill   NaN    Hourly            0
4         105     Cindy  64.0  Salaried            3

In [18]:
exDat2.shape

(6, 5)

In [19]:
exDat1.dtypes

EmployeeID       int64
FirstName       object
Age            float64
PayType         object
NumChildren      int64
dtype: object

---
### Exercise 7

Use the pandas [*equals*](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.equals.html) method to show ExDat1 and ExDat2 are identical (if they are not, amend your data import code accordingly).

In [20]:
exDat1.equals(exDat2)

True

---
### Exercise 8

Read in the data file "ExerciseData3.txt" in Python-Bootcamp-Unit5-Data.zip (under the exercise-data folder) and store it in a pandas DataFrame called exDat3. To verify you imported the data correctly, show the following for exDat2:

- the head of the data (e.g., the first five rows)
- the shape of the data (i.e., the number of rows and columns)
- the data types for each column

*Hint*: make sure you have accounted for the quoting characters in this data file; in addition, you may want to open the file in a text editor to see if there is something else wrong with it.

In [21]:
exDat3 = pd.read_csv('exercise-data/ExerciseData3.txt', skiprows = 2, quotechar = '`')

In [22]:
exDat3.head()

   EmployeeID FirstName   Age   PayType  NumChildren
0         101       Kim  24.0    Hourly            0
1         102       Ken  23.0  Salaried            2
2         103       Bob  54.0    Hourly            1
3         104      Bill   NaN    Hourly            0
4         105     Cindy  64.0  Salaried            3

In [23]:
exDat3.shape

(6, 5)

In [24]:
exDat3.dtypes

EmployeeID       int64
FirstName       object
Age            float64
PayType         object
NumChildren      int64
dtype: object

---
### Exercise 9

Use the pandas [*equals*](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.equals.html) method to show ExDat2 and ExDat3 are identical (if they are not, amend your data import code accordingly).

In [25]:
exDat2.equals(exDat3)

True