## **Python Bootcamp - Unit 4**
---
**Author:** David Dobolyi

**Key Concepts**
- [Variables](#Variables)
    - [Variable Naming](#Variable-Naming)
    - [Augmented Assignment](#Augmented-Assignment)
    - [Multiple Assignment](#Multiple-Assignment)
    - [Finding Variables](#Finding-Variables)
    - [Deleting Variables](#Deleting-Variables)
- [Data Structures](#Data-Structures)
    - [Lists](#Lists)
        - [Accessing List Elements](#Accessing-List-Elements)
        - [Slicing](#Slicing)
        - [In and Not In](#In-and-Not-In)
        - [Updating List Elements](#Updating-List-Elements)
        - [Adding List Elements](#Adding-List-Elements)
        - [Deleting List Elements](#Deleting-List-Elements)
        - [Joining Lists](#Joining-Lists)
        - [Other List Methods](#Other-List-Methods)
        - [dir](#dir)
    - [Ranges](#Ranges)
    - [Tuples](#Tuples)
        - [Accessing Tuple Elements](#Accessing-Tuple-Elements)
        - [Updating, Adding, and Deleting Tuple Elements](#Updating,-Adding,-and-Deleting-Tuple-Elements)
        - [Joining Tuples](#Joining-Tuples)
        - [Other Tuple Methods](#Other-Tuple-Methods)
        - [zip](#zip)
    - [Sets](#Sets)
        - [Accessing Set Elements](#Accessing-Set-Elements)
        - [Updating Set Elements](#Updating-Set-Elements)
        - [Adding Set Elements](#Adding-Set-Elements)
        - [Deleting Set Elements](#Deleting-Set-Elements)
        - [Joining Sets](#Joining-Sets)
        - [Other Set Methods](#Other-Set-Methods)
    - [Dictionaries](#Dictionaries)
- [References vs. Copies](#References-vs.-Copies)
    - [Comparison Operators: Identity](#Comparison-Operators:-Identity)

---
### Variables

Python allows us to assign values to *variables* so we can refer to them later. To perform assignment, we must provide a named variable and a value to bind to it using the assignment operator `=`:

In [1]:
variable = 5

Once assigned, we can refer to the variable we created by name to call it back:

In [2]:
variable

5

Variables must have a data type, and Python is *dynamically typed*, meaning that the type of a variable is determined based on the object it holds rather than the type of the variable being explicitly defined in advance (languages that do the latter are  *statically typed*):

In [3]:
type(variable)

int

As shown in this example, because myVar was set to `5`, which is an `int` the variable itself was assigned as an `int`.

If we change the value stored in our variable, note that the type will change dynamically as well:

In [4]:
variable = 5.5
type(variable)

float

#### Variable Naming

When it comes to naming variables in Python, there are several important rules that must be considered. Specifically, variable names:
- May contain letters, numbers, underscores (i.e., `_`), and/or Unicode characters
- Must not begin with a number
- Must not contain punctuation (e.g., `!`, `@`)
- May be of any length
- Are case sensitive (e.g., `Variable` is not the same as `variable`)
- Must not be one of Python's reserved words (e.g., `True` or `None`)

Regarding the latter point, to see a full list of reserved keywords, you use the following command:

In [5]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

In addition, there are several common conventions for creating variable names that are clear and easy to understand. For example, see the PEP 8 guide for a full set of [descriptive](https://www.python.org/dev/peps/pep-0008/#descriptive-naming-styles) and [prescriptive](https://www.python.org/dev/peps/pep-0008/#prescriptive-naming-conventions) recommendations.

#### Augmented Assignment

In addition to using `=` for assignment, Python supports several more for *augmented assignment*. Augmented assignment is useful for writing more condensed code when changing values in variables involves basic arithmetic. For instance, suppose we wanted to increment the value of our variable named `variable` by one. We could do this as follows:

In [6]:
variable = 5
variable = variable + 1
variable

6

Alternatively, we could use augmented assignment to simplify this operation:

In [7]:
variable = 5
variable += 1
variable

6

Augmented assignment can be done with a wide range of arithmetic operators as shown above, although addition and subtraction care the most common. For an example involving multiplication, consider the following:

In [8]:
variable = 5
variable *= 2
variable

10

For more details on what's possible with augmented assignment, see `help('+=')`:

In [9]:
help('+=')

Augmented assignment statements
*******************************

Augmented assignment is the combination, in a single statement, of a
binary operation and an assignment statement:

   augmented_assignment_stmt ::= augtarget augop (expression_list | yield_expression)
   augtarget                 ::= identifier | attributeref | subscription | slicing
   augop                     ::= "+=" | "-=" | "*=" | "@=" | "/=" | "//=" | "%=" | "**="
             | ">>=" | "<<=" | "&=" | "^=" | "|="

(See section Primaries for the syntax definitions of the last three
symbols.)

An augmented assignment evaluates the target (which, unlike normal
assignment statements, cannot be an unpacking) and the expression
list, performs the binary operation specific to the type of assignment
on the two operands, and assigns the result to the original target.
The target is only evaluated once.

An augmented assignment expression like "x += 1" can be rewritten as
"x = x + 1" to achieve a similar, but not exactly equal effect. In the
augmented version, "x" is only evaluated once. Also, when possible,
the actual operation is performed *in-place*, meaning that rather than
creating a new object and assigning that to the target, the old object
is modified instead.

Unlike normal assignments, augmented assignments evaluate the left-
hand side *before* evaluating the right-hand side.  For example, "a[i]
+= f(x)" first looks-up "a[i]", then it evaluates "f(x)" and performs
the addition, and lastly, it writes the result back to "a[i]".

With the exception of assigning to tuples and multiple targets in a
single statement, the assignment done by augmented assignment
statements is handled the same way as normal assignments. Similarly,
with the exception of the possible *in-place* behavior, the binary
operation performed by augmented assignment is the same as the normal
binary operations.

For targets which are attribute references, the same caveat about
class and instance attributes applies as for regular assignments.

Related help topics: NUMBERMETHODS

#### Multiple Assignment

Although not as frequently used, Python supports assigning multiple values at once. For instance, you can assign a number of variables to the same value like so:

In [10]:
varA = varB = varC = 123
print(varA, varB, varC)

123 123 123

Alternatively, you can assign a set of values to specific variables in one line like so:

In [11]:
varA, varB, varC = 3, 4, 5
print(varA, varB, varC)

3 4 5

It's ultimately up to you to decide if you want to use multiple assignment syntax.

#### Finding Variables

To find variables you have defined in Jupyter, the easiest approach is to use the magic keyword, `%who`:

In [12]:
%who

varA	 varB	 varC	 variable

More general options include the `dir`, `locals`, and `globals` functions, although using these for this purpose is more complex and outside the scope of this unit.

#### Deleting Variables

Variables can be unbound using the `del` statement:

In [13]:
varA = 5
varA

5

In [14]:
del(varA)

In [15]:
varA

NameError: name 'varA' is not defined

---
### Data Structures

Now that we've covered the basics of variables, let's talk about basic data structures in Python. Python supports a variety of built-in data structures for storing sets of values in a particular order, and these are known as [*sequences*](https://docs.python.org/3/library/stdtypes.html#typesseq). We've already covered one type of sequence, the text sequence, which involves one or more characters that for a string (i.e., `str`). Other types of ordered sequences include:

- Lists: `list`
- Ranges: `range`
- Tuples: `tuple`

In addition to these ordered sequences, Python supports unordered collections of data using structures such as:

- Sets: `set`
- Dictionaries: `dict`

Moreover, through the use of modules, Python can be extended to support a wide range of additional structures, including the following that are commonplace in data science:

- `numpy.ndarray` ([NumPy](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.html))
- `pandas.DataFrame` ([pandas](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html))

This unit will focus on the built-in data structures, but in the following unit we will review the latter two (i.e., arrays and DataFrames). Among the built-in structures, lists, tuples, and sets will be covered in detail, whereas dictionaries will be briefly introduced since they aren't as commonly used in data science.

#### Lists

Lists are one of the most basic and practically useful data structures in Python. At the most basic level, lists function similarly to an *array* (e.g., Java) and *vector* (e.g., R). They are designed to hold a collection of values (including duplicates) that can be changed (i.e., they are designed to be *mutable*). Lists are defined using a sequences of comma-separated values inside of square brackets:

In [16]:
[1, 2, 3]

[1, 2, 3]

Alternatively, lists can also be created more formally using a *constructor*, which in the case of a list is the *list* function:

In [17]:
list([1, 2, 3])

[1, 2, 3]

Regardless of how it is established, this list contains 3 numbers (i.e., 1, 2, and 3) in that order from left to right. Let's assign this array to a variable and call it back:

In [18]:
myList = [1, 2, 3]
myList

[1, 2, 3]

Note that the list has a specific type, which is defined as its structure:

In [19]:
type(myList)

list

In Python, the individual values in the list can be of various types. For example, we can mix integers and strings in a list:

In [20]:
myList = [1, 'two', 3]

This resultant list still has the type `list`:

In [21]:
type(myList)

list

Finally, note that the list constructor method can be used to convert various types of iterable objects to a list. For example, a text sequence can be converted to a list of characters:

In [22]:
list('abc')

['a', 'b', 'c']

In addition, lists can be multidimensional, meaning that you can -- if desired -- create a list of lists (although this isn't a particularly common thing that you'll likely need to do):

In [23]:
[[1, 2, 3], ['A', 'B']] # two lists within a list

[[1, 2, 3], ['A', 'B']]

##### **Accessing List Elements**

To access specific elements of a list, we need to reference values by *index*, or position, using bracket notation. It's important to note that the first element will always be in position 0, and the last element will be in the n-1 position (where n is the number of elements in the list). For example:

In [24]:
myList[0]

1

In [25]:
myList[1]

'two'

In [26]:
myList[2]

3

Note that since this list only contains 3 elements, the following statement will return an error:

In [27]:
myList[3]

IndexError: list index out of range

Negative indexing can also be used to return values, and these negative values work by starting at the end of the list and working backwards:

In [28]:
myList[-1]

3

In [29]:
myList[-2]

'two'

In [30]:
myList[-3]

1

##### **Slicing**

In addition, we can use list *slicing* to get multiple list elements at once:

In [31]:
myList[1:3]

['two', 3]

In this simple example, the slice `1:3` is defined by a start (i.e., `1`) and stop point (i.e., `3`) such that for the stopping point, the final value is not returned (i.e., the 3rd value in myList is in position `2`, which is one less than the stopping point of the slice, `3`). To see this more clearly, let's use a longer list example:

In [32]:
longerList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
longerList

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
longerList[0:3]

[1, 2, 3]

In [34]:
longerList[3:5]

[4, 5]

Moreover, by leaving out the start or stop point, we can quickly reference portions of a list in a convenient manner. For example, assuming we leave off the start point, we can return a number of values from our list based on the provided stop point:

In [35]:
longerList[:3]

[1, 2, 3]

Alternatively, if we leave off the stop point, we can return all values from the start point onwards (inclusive):

In [36]:
longerList[3:]

[4, 5, 6, 7, 8, 9, 10]

The start and stop point can also be negative (although this can occasionally be confusing at first glance). For instance:

In [37]:
longerList[-5:-2] # counting backwards from the end of longerList, we can see 6 is in the -5th position (and 10 is in the -1 position)

[6, 7, 8]

Finally, more advanced list slicing can also be performed by providing a third value to the slice, i.e., a step (sometimes also referred to as a stride). For instance, to get every second value in our list, we could use the following slice:

In [38]:
longerList[::2]

[1, 3, 5, 7, 9]

We can also combine the step with a start and stop to customize exactly what we want to return:

In [39]:
longerList[2:8:2]

[3, 5, 7]

Note that negative steps are also possible:

In [40]:
longerList[::-2]

[10, 8, 6, 4, 2]

In [41]:
longerList[8:2:-2]

[9, 7, 5]

##### **In and Not In**

In addition to extracting values from lists by index, we can also check if values exist in a list using the *sequence operators* ***in*** and ***not in***, which are useful when working with a collection of values. For example:

In [42]:
myList = [1, 'two', 3]
'two' in myList

True

In [43]:
'three' not in myList

True

With lists this short, these operators aren't particularly helpful, but they can come in handy when lists get large.

Moreover, these operators will come in handy for a bunch of other uses will see in future units (e.g., for *iteration* and *control flow*).

##### **Updating List Elements**

List elements can be updated or modified by referencing by position. For instance, to change the first value to 100, we could do the following:

In [44]:
myList = [1, 'two', 3]

In [45]:
myList[0] = 100
myList

[100, 'two', 3]

We could also change two values at once using a slice:

In [46]:
myList = [1, 'two', 3] # reset the list
myList[::2] = [100, 300]
myList

[100, 'two', 300]

##### **Adding List Elements**

Elements can be added to the end of a list using the *append* method:

In [47]:
myList = [1, 'two', 3]
myList.append('four')
myList

[1, 'two', 3, 'four']

Note that appending an element does not require using the assignment operator to make the change permanent. This is because the *append* method is what's known as an *in-place* operation.

You can also add multiple elements to a list simultaneously by using *extend* and supplying a list of values to be tacked on:

In [48]:
myList.extend([5, 'six'])
myList

[1, 'two', 3, 'four', 5, 'six']

Finally, you can insert a value in a specific position using the aptly named *insert* method:

In [49]:
myList = [1, 'two', 3]
myList.insert(1, 'insertion')
myList

[1, 'insertion', 'two', 3]

##### **Deleting List Elements**

Elements can be deleted from a list using *del*:

In [50]:
myList = [1, 'two', 3]
del myList[1] # remove 2nd element
myList

[1, 3]

Using slicing, you can also delete multiple elements at once:

In [51]:
myList = [1, 'two', 3]
del myList[0:2]
myList

[3]

Alternatively, if you would like to both remove a value by position and return that value while doing so, you can use the *pop* method:

In [52]:
myList = [1, 'two', 3]
myList.pop(1)

'two'

In [53]:
myList

[1, 3]

Finally, you can use *remove* to remove by value rather than by position:

In [54]:
myList = [1, 'two', 3]
myList.remove(1)
myList

['two', 3]

Note however that remove will only eliminate the first occurence of a value:

In [55]:
myList = [1, 'two', 3, 1]
myList.remove(1)
myList

['two', 3, 1]

##### **Joining Lists**

In the previous unit, we saw how text sequences can be concatenated (or put together) using the `+` operator. For example:

In [56]:
'Hello' + ' ' + 'world!' # concatenate multiple strings

'Hello world!'

Lists can also be concatenated -- or combined -- in a similar fashion:

In [57]:
myListA = [1, 'two', 3]
myListB = ['four', 5, 'six']

myListA + myListB

[1, 'two', 3, 'four', 5, 'six']

The result of adding the two lists would need to be stored in a variable if you planned on retaining it.

Alternatively, you can also use *extend* to achieve the same result as an in-place operation:

In [58]:
myListA.extend(myListB)
myListA

[1, 'two', 3, 'four', 5, 'six']

##### **Other List Methods**

Python lists support a variety of other methods beyond ones you have already seen (e.g., *append* and *extend*). To see a list of these (no pun intended), see `help(list)`. A few common examples follow:

In [59]:
# len (return the length of the list)
myList = [1, 'two', 3]
len(myList)

3

In [60]:
# clear (empty the list entirely)
myList = [1, 'two', 3]
myList.clear()
myList

[]

In [61]:
# reverse (reverse the list in place)
myList = [1, 'two', 3]
myList.reverse()
myList

[3, 'two', 1]

In [62]:
# count (count the number of times a specified value appears in the list)
myList = ['A', 'B', 'A', 'B', 'C', 'B', 'C', 'C']
myList.count('C')

3

In [63]:
# index (return the position of the first instance of a value in the list)
myList = ['A', 'B', 'A', 'B', 'C', 'B', 'C', 'C']
myList.index('C')

4

In [64]:
# sort (sort the list in place)
myList = [4, 7, 2, 2, 5]
myList.sort()
myList

[2, 2, 4, 5, 7]

##### dir

In addition to using the help function, it's worth quickly mentioning the built-in [dir](https://docs.python.org/3/library/functions.html#dir) function, which can be helpful for quickly looking up methods, attributes, etc. for a given object as well. For example:

In [65]:
dir(myList)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

While help is typically more informative, dir is more generic and can be useful when trying to understand objects of various types in more detail.

#### **Ranges**

In an earlier example, we created a list of ten numbers by hand:

In [66]:
longerList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Creating a list like this requires a lot of typing even with just ten values. To create integer ranges in Python quickly and conviently, consider using the *range* function, which creates a sequence of values between a start and stop point:

In [67]:
myRange = range(1, 11)

myRange

range(1, 11)

In [68]:
type(myRange)

range

Note that similar to slicing, the first argument to `range` is the first value in the resulting list, whereas the second argument is the last number, which isn't actually included (i.e., non-inclusive). In other words, in the example above, to get a list from 1 to 10, the second argument to `range` must be 11.

To see what range provides more clearly, it helps to convert it to a list:

In [69]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Also, be aware that range can take negative values in the arguments:

In [70]:
list(range(-3, 4))

[-3, -2, -1, 0, 1, 2, 3]

Using the other list methods described above, you can also get reverse number ranges. For instance:

In [71]:
revRange = list(range(-3, 4))
revRange.reverse()
revRange

[3, 2, 1, 0, -1, -2, -3]

Lastly, it's possible to create ranges with a step argument as well, which again works similar to list slicing:

In [72]:
list(range(1, 11, 2))

[1, 3, 5, 7, 9]

#### Tuples

Tuples are very similar to lists (i.e., a collection of values in a specific order that can include duplicates) with one major difference: tuples are *immutable*, meaning they cannot be changed once created. To define a tuple, we use parentheses instead of brackets:

In [73]:
('cat', 'dog', 'fish')

('cat', 'dog', 'fish')

Unsurprisingly, the type of a tuple is `tuple`:

In [74]:
myTuple = ('cat', 'dog', 'fish')
display(myTuple, type(myTuple))

('cat', 'dog', 'fish')

tuple

Tuples can also be declared formally using the *tuple* constructor, which requires providing an iterable object to convert:

In [75]:
tuple(['cat', 'dog', 'fish'])

('cat', 'dog', 'fish')

One important note with tuples: to create a tuple with a single element, you must put a comma at the end of the sequence. For example:

In [76]:
catTuple = ('cat',)
display(catTuple, type(catTuple))

('cat',)

tuple

Without the final comma, you will not actually end up with a tuple if supplying only one value:

In [77]:
notTuple = ('cat')
display(notTuple, type(notTuple))

'cat'

str

##### **Accessing Tuple Elements**

Similar to lists (i.e., see above for more details), tuples elements can be accessed by position:

In [78]:
print(myTuple[0], myTuple[2]) # first and last elements of myTuple

cat fish

Negative indexing and slicing may also be used:

In [79]:
myTuple[-1] # return last element

'dog'

In [80]:
myTuple[1:3] # return 2nd and 3rd element

('dog', 'fish')

Finally, sequence operators such as `in` and `not in` apply to tuples as well:

In [81]:
'puppy' in myTuple

False

##### **Updating, Adding, and Deleting Tuple Elements**

As noted above, tuples are not meant to be changed once they are created, meaning you cannot update values, add new ones, or delete existing ones.

Trying to do any of these operations will result in an error:

In [82]:
myTuple[1] = 'hamster' # attempting to change the 2nd value to 'hamster'

TypeError: 'tuple' object does not support item assignment

That being said, if you do need to make edits to a tuple, you can convert it to a list quickly and easily as needed using the *list* function:

In [83]:
myList = list(myTuple)
display(myList, type(myList))

['cat', 'dog', 'fish']

list

Once converted to a list, the regular rules for lists apply; for example:

In [84]:
myList[1] = 'hamster'
myList

['cat', 'hamster', 'fish']

If desired, you can also convert your list back to a tuple using the *tuple* function:

In [85]:
myTuple = tuple(myList)
display(myTuple, type(myTuple))

('cat', 'hamster', 'fish')

tuple

##### **Joining Tuples**

Again, similar to lists, tuples can be combined via concatenation:

In [86]:
myTupleA = ('cat', 'dog', 'fish')
myTupleB = ('kitten', 'puppy')

myTupleA + myTupleB

('cat', 'dog', 'fish', 'kitten', 'puppy')

##### **Other Tuple Methods**

Given all the restrictions surrounding tuples, the options for working with them are limited when compared to lists. As per `help(tuple)`, the main options are essentially *count* and *index*, which have similar functionality in lists:

In [87]:
# count (count the number of times a specified value appears in the tuple)
myLongerTuple = ('cat', 'dog', 'cat', 'dog', 'fish', 'dog', 'fish')
myLongerTuple.count('fish')

2

In [88]:
# index (return the position of the first instance of a value in the tuple)
myLongerTuple = ('cat', 'dog', 'cat', 'dog', 'fish', 'dog', 'fish')
myLongerTuple.index('fish')

4

Various other methods that also work for lists (and other structures involving collections of values) apply to tuples as well, including `len`:

In [89]:
myLongerTuple = ('cat', 'dog', 'cat', 'dog', 'fish', 'dog', 'fish')
len(myLongerTuple)

7

##### **zip**

Python includes a built-in *zip* function to facilitate putting together (i.e., zipping) values across two tuples:

In [90]:
FNames = ('Jane', 'Lucy', 'Martin')
LNames = ('Smith', 'Holland', 'Stephenson')

FLNames = tuple(zip(FNames, LNames))
FLNames

(('Jane', 'Smith'), ('Lucy', 'Holland'), ('Martin', 'Stephenson'))

These values can also be unzipped by adding in a `*` operator:

In [91]:
FNamesUnzip, LNamesUnzip = zip(*FLNames)

display(FNamesUnzip)
display(LNamesUnzip)

('Jane', 'Lucy', 'Martin')

('Smith', 'Holland', 'Stephenson')

This approach will also be useful later in this unit when discussing how to establish dict objects.

#### Sets

Unlike lists and tuples, sets are unordered collections of values (i.e., values have no indicies/positions), and they cannot contain duplicates. Moreover, they are more similar to tuples in that they are immutable and not meant to be changed once created.

To create a set, we use curly braces:

In [92]:
{'yellow', 'green', 'blue'}

{'blue', 'green', 'yellow'}

Alternatively, we can use the *set* constructor in conjunction with an iterable:

In [93]:
set(['yellow', 'green', 'blue'])

{'blue', 'green', 'yellow'}

You'll notice when the set is defined, it is automatically placed in alphabetical order when display: remember, however, that sets do not contain an order per se, and as such position within the set is completely arbitrary. Let's assign our set to a variable and check its type:

In [94]:
mySet = {'yellow', 'green', 'blue'}
display(mySet, type(mySet))

{'blue', 'green', 'yellow'}

set

Unsurprisingly, the type is `set`.

##### **Accessing Set Elements**

Since sets do not have indicies, we can't use the bracket approach that applies to lists and tuples. Nevertheless, we can still use the sequence operators `in` and `not in` described earlier to check if values exist a set or not:

In [95]:
'green' in mySet

True

In [96]:
'red' not in mySet

True

Additionally, while it's something we'll cover in more detail later, we can also use iteration for sets and other types of sequences to extract values one-at-a-time:

In [97]:
mySet = {'yellow', 'green', 'blue'}

for eachVal in mySet:
    print(eachVal)

blue
green
yellow

##### **Updating Set Elements**

As noted above, sets are immutable and the values contained within cannot be changed once they are created. As a workaround however, you can add a new element and delete the existing one you wanted to change using the code described in the following two sections.

##### **Adding Set Elements**

It is possible to add elements to a set, although given the lack of indicies, we can really only append them.

To add a single element, use the *add* method:

In [98]:
mySet = {'yellow', 'green', 'blue'}
mySet.add('purple')
mySet

{'blue', 'green', 'purple', 'yellow'}

To add multiple elements, use the *update* method:

In [99]:
mySet = {'yellow', 'green', 'blue'}
mySet.update({'purple', 'pink'}) # you can also supply a list, tuple, etc. as the argument to update
mySet

{'blue', 'green', 'pink', 'purple', 'yellow'}

##### **Deleting Set Elements**

It is possible to delete elements from a set using various methods. These include:

In [100]:
# remove (delete an element by value and return an error if the value is not found)
mySet = {'yellow', 'green', 'blue'}
mySet.remove('green')
mySet

{'blue', 'yellow'}

In [101]:
# discard (delete an element by value but do not return an error if the value is not found)
mySet = {'yellow', 'green', 'blue'}
mySet.discard('purple') # not in the set, but not a problem
mySet

{'blue', 'green', 'yellow'}

In [102]:
# clear (empty the set completely)
mySet = {'yellow', 'green', 'blue'}
mySet.clear()
mySet

set()

In [103]:
# pop (delete a random element from the set while also returning the value)
mySet = {'yellow', 'green', 'blue'}
display(mySet)
display(mySet.pop()) # note the value returned is arbitrary
display(mySet)

{'blue', 'green', 'yellow'}

'blue'

{'green', 'yellow'}

##### **Joining Sets**

There are several methods for joining two sets. The primary ones involve the methods *union* and *update*. Regarding the former, `union` will return all the items across the two sets while omitting duplicates:

In [104]:
mySetA = {'yellow', 'green', 'blue', 'purple', 'red'}
mySetB = {'green', 'red', 'orange'}

mySetA.union(mySetB)

{'blue', 'green', 'orange', 'purple', 'red', 'yellow'}

Note that union returns the result of the operation but does not update either set:

In [105]:
display(mySetA, mySetB)

{'blue', 'green', 'purple', 'red', 'yellow'}

{'green', 'orange', 'red'}

To perform the operation in-place, use `update`:

In [106]:
mySetA.update(mySetB)
mySetA

{'blue', 'green', 'orange', 'purple', 'red', 'yellow'}

In this case, `mySetA` is updated, while `mySetB` is untouched:

In [107]:
mySetB

{'green', 'orange', 'red'}

Finally, note that union and update can also be performed using symbols using `|` and `|=` respectively:

In [108]:
mySetA = {'yellow', 'green', 'blue', 'purple', 'red'}
mySetB = {'green', 'red', 'orange'}

mySetA | mySetB # equivalent to union

{'blue', 'green', 'orange', 'purple', 'red', 'yellow'}

In [109]:
mySetA |= mySetB # equivalent to update (i.e., mySetA is changed in-place)
mySetA

{'blue', 'green', 'orange', 'purple', 'red', 'yellow'}

##### **Other Set Methods**

As noted in `help(set)`, sets support other methods that can come in handy. Some such as `len` work with sets just like they do for other structures such as lists and tuples.  Others are specific to sets; for instance, you can use set operators such as *intersection* and *difference* to make comparisons across two different sets, and these work in a fashion conceptually similar to structured query language (SQL):

In [110]:
# intersection (returns a set of values that appear across both sets without duplicates)
mySetA = {'yellow', 'green', 'blue', 'purple', 'red'}
mySetB = {'green', 'red', 'orange'}
mySetA.intersection(mySetB)

{'green', 'red'}

In [111]:
# difference (returns the values that appear in one set but not the other)
mySetA = {'yellow', 'green', 'blue', 'purple', 'red'}
mySetB = {'green', 'red', 'orange'}
mySetA.difference(mySetB)

{'blue', 'purple', 'yellow'}

Other functions can be used to see if one set is contained in another:

In [112]:
# superset (returns True or False depending on whether the argument set is contained in the overarching set or not)
mySetA = {'yellow', 'green', 'blue', 'purple', 'red'}
mySetB = {'green', 'red'}
mySetA.issuperset(mySetB)

True

In [113]:
# subset (returns True or False depending on whether the argument set is contained in the overarching set or not)
mySetA = {'yellow', 'green', 'blue', 'purple', 'red'}
mySetB = {'green', 'red'}
mySetB.issubset(mySetA) # note this is essentially the inverse of superset above (mySetA and mySetB were swapped in the call)

True

Again, see `help(set)` for additional methods.

#### Dictionaries

Dictionaries are another useful data structure provided by Python for working with data. Dictionaries are unordered, mutable (i.e., can be changed), and include an index. The latter point is unique however when compared to lists and tuples: specifically, data in dictionaries are stored and referenced as key: value pairs that create a mapping (in other languages, this structure is sometimes referred to as an *associative array*).

To show how dictionaries are used, the best thing to do is to create an example. Consider the following dictionary for an employee at a company:

In [114]:
myDict = {
    'FName': 'Jane',
    'LName': 'Smith',
    'Dept': 'Accounting',
    'StartYear': 2015
}

myDict

{'FName': 'Jane', 'LName': 'Smith', 'Dept': 'Accounting', 'StartYear': 2015}

In [115]:
type(myDict)

dict

As shown above, a dictionary is defined using curly brackets, and within these brackets are a sequence of key-value pairs (e.g., `'key': 'value'`) as mentioned earlier. More specifically, `myDict` contains four keys, which we can see directly using the *keys* method:

In [116]:
myDict.keys()

dict_keys(['FName', 'LName', 'Dept', 'StartYear'])

Using these keys, we can look up values within the dict object. For example, to pull up the `StartYear`, we can use the following syntax:

In [117]:
myDict['StartYear']

2015

Additional dict methods include *values* and *items*:

In [118]:
myDict.values()

dict_values(['Jane', 'Smith', 'Accounting', 2015])

In [119]:
myDict.items()

dict_items([('FName', 'Jane'), ('LName', 'Smith'), ('Dept', 'Accounting'), ('StartYear', 2015)])

It's worth noting that besides the curly brackets, there are many ways to establish a dict using the forma *dict* constructor. For example, one option is to supply key-value pairs in a sequence:

In [120]:
dict([
    ('FName', 'Jane'),
    ('LName', 'Smith'),
    ('Dept', 'Accounting'),
    ('StartYear', 2015)
])

{'FName': 'Jane', 'LName': 'Smith', 'Dept': 'Accounting', 'StartYear': 2015}

We could have also be used keyword arguments to create the dict instead:

In [121]:
dict(
    FName = 'Jane',
    LName = 'Smith',
    Dept = 'Accounting',
    StartYear = 2015
)

{'FName': 'Jane', 'LName': 'Smith', 'Dept': 'Accounting', 'StartYear': 2015}

Finally, we could have used the *zip* function introduced earlier to create our dict using tuples containing keys and values:

In [122]:
myKeys = ('FName', 'LName', 'Dept', 'StartYear')
myVals = ('Jane', 'Smith', 'Accounting', 2015)

dict(zip(myKeys, myVals))

{'FName': 'Jane', 'LName': 'Smith', 'Dept': 'Accounting', 'StartYear': 2015}

The *zip* approach can also be used to unzip dict data when coupled with the *items* method shown earlier, returning separate tuples containing keys and corresponding values:

In [123]:
myKeysUnzip, myValsUnzip = zip(*myDict.items())

display(myKeysUnzip)
display(myValsUnzip)

('FName', 'LName', 'Dept', 'StartYear')

('Jane', 'Smith', 'Accounting', 2015)

More interestingly, presumably, we will want to collect and store this information for every employee at our company. In that case, we can use *nesting* to store information on several employees at once:

In [124]:
myDictMore = {
    'emp1': {
        'FName': 'Jane',
        'LName': 'Smith',
        'Dept': 'Accounting',
        'StartYear': 2015
    },
    'emp2': {
        'FName': 'Lucy',
        'LName': 'Holland',
        'Dept': 'IT',
        'StartYear': 2012
    },
    'emp3': {
        'FName': 'Martin',
        'LName': 'Stephenson',
        'Dept': 'HR',
        'StartYear': 2020
    }
}

myDictMore

{'emp1': {'FName': 'Jane',
  'LName': 'Smith',
  'Dept': 'Accounting',
  'StartYear': 2015},
 'emp2': {'FName': 'Lucy',
  'LName': 'Holland',
  'Dept': 'IT',
  'StartYear': 2012},
 'emp3': {'FName': 'Martin',
  'LName': 'Stephenson',
  'Dept': 'HR',
  'StartYear': 2020}}

When organized this way, we can use methods we've seen before to work with the data; for instance, if we wanted to know the number of employees we have data on, we can use `len`:

In [125]:
len(myDictMore)

3

Moreover, we can access properties of a given employee by using multiple keys at once. For example, to find the first name of the 2nd employee, we could do the following:

In [126]:
myDictMore['emp2']['FName']

'Lucy'

Alternatively, we could have structured these data in a relational format (i.e., rows and columns) by coupling dict with lists:

In [127]:
myDictRelational = {
    'FName': ['Jane', 'Lucy', 'Martin'],
    'LName': ['Smith', 'Holland', 'Stephenson'],
    'Dept': ['Accounting', 'IT', 'HR'],
    'StartYear': [2015, 2012, 2020]
}

myDictRelational

{'FName': ['Jane', 'Lucy', 'Martin'],
 'LName': ['Smith', 'Holland', 'Stephenson'],
 'Dept': ['Accounting', 'IT', 'HR'],
 'StartYear': [2015, 2012, 2020]}

The arrangement of data above will come in handy when we discuss pandas DataFrames in the next unit.

Finally, if you are working with `dict` objects heavily, you can find additional modules that can make your life either. For instance, to get a cleaner printout of a `dict`, consider importing the *pprint* function:

In [128]:
from pprint import pprint

pprint(myDictMore)

{'emp1': {'Dept': 'Accounting',
          'FName': 'Jane',
          'LName': 'Smith',
          'StartYear': 2015},
 'emp2': {'Dept': 'IT', 'FName': 'Lucy', 'LName': 'Holland', 'StartYear': 2012},
 'emp3': {'Dept': 'HR',
          'FName': 'Martin',
          'LName': 'Stephenson',
          'StartYear': 2020}}

### References vs. Copies

One particularly important note regarding lists, tuples, and other data structures has to do with variable assignment. For instance, consider the following example involving lists:

In [129]:
myListA = [1, 'two', 3]
myListB = myListA

So far, we have defined two lists, and both will return the same value when called back:

In [130]:
print(myListA, myListB)

[1, 'two', 3] [1, 'two', 3]

Now, let's go ahead and make a change to `myListA`:

In [131]:
myListA[1] = 2
myListA

[1, 2, 3]

As you can see, this code changed the second value of `myListA`. The question however is did this have any impact on `myListB`?

In [132]:
myListB

[1, 2, 3]

The answer is yes, and the reason is that `myListB` did not store the value of the original list (i.e., `[1, 'two', 3]`) but rather a reference to that list by way of `myListA`. As such, any changes to `myListA` made in this fashion will also reflect in `myListB`.

While somewhat technical, we can use the *id* to function to see the identity of both variables and confirm they are identical:

In [133]:
print(id(myListA), id(myListB))

id(myListA) == id(myListB)

4547504512 4547504512

True

Assuming this is not what you wanted/intended (e.g., perhaps you wanted to make myListA and myListB initially identical but not tied together for subsequent code), what you'd need to do instead is to make a copy of the list using the *copy* method:

In [134]:
myListA = [1, 'two', 3]
myListB = myListA.copy()

myListA[1] = 2

print(myListA, myListB)

[1, 2, 3] [1, 'two', 3]

Notice how changes to `myListA` do not impact `myListB` when the latter was set up as a copy. This is because copy creates a new value for `myListB` that is indepedent of the one assigned to `myListA`:

In [135]:
print(id(myListA), id(myListB))

id(myListA) == id(myListB)

4547461440 4547464704

False

While the distinction of a reference vs. a copy is somewhat technical, keep this important distinction in mind to avoid accidentally making changes to one variable when working with another -- it's very easy to make a critical mistake if you are not keeping track of this distinction!

Finally, be aware that for lists, the slice operator (i.e., `:`) can also be used to establish a copy as a shorthand:

In [136]:
myListA = [1, 'two', 3]
myListB = myListA[:]

myListA[1] = 2

print(myListA, myListB)

print(id(myListA), id(myListB))

id(myListA) == id(myListB)

[1, 2, 3] [1, 'two', 3]
4546323328 4547180032

False

---
#### Comparison Operators: Identity

Speaking of references, now is a good time to return to the two remaining comparison operators that we hadn't yet talked about in the previous unit. These are:

- is: object identity
- is not: negated object indentity

These operators are useful for making comparisons across objects and variables. They often work similarly to the analagous comparison operators `==` and `!=` (for `is` and `not is` respectively). For instance, consider how these operators can also be used to test whether different lists -- either references or copies -- refer to the same object (or not):

In [137]:
myListA = [1, 'two', 3]
myListB = myListA

myListB is myListA

True

In [138]:
myListA = [1, 'two', 3]
myListB = myListA.copy()

myListB is myListA

False

Note how the results of these comparisons differ as compared to using `==`:

In [139]:
myListA = [1, 'two', 3]
myListB = myListA

myListB == myListA

True

In [140]:
myListA = [1, 'two', 3]
myListB = myListA.copy()

myListB == myListA

True

The latter comparison returns `True` this time since it is really comparing values. By contrast, `is` is comparing identity. To simulate `is` with `==`, we'd need to wrap the comparison with the `id` function we used earlier:

In [141]:
myListA = [1, 'two', 3]
myListB = myListA.copy()

id(myListB) == id(myListA)

False

Now the result is as expected (i.e., since `myListB` is a copy of `myListA` and not simply a reference to it in this case).